# Chapter 5 Getting Started with Pandas

In [8]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

## 5.1 Introduction to pandas Data Structures

### Seriesï¼š one-dimensional array-like object containing a sequence of values and an associated array of data labels, called its index.

In [3]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj2 = pd.Series([4, 7, -5, 3], index = ['a', 'b', 'n', 'c'])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj2['c']

3

In [6]:
obj2[obj2 > 0]

a    4
b    7
c    3
dtype: int64

In [9]:
np.exp(obj2)

a      54.598150
b    1096.633158
n       0.006738
c      20.085537
dtype: float64

In [11]:
# Create a series from dict
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [12]:
# For matched index, the values can be passed into the new series;
state = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, state)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [13]:
# Check null
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [14]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [15]:
obj4.name = 'Population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

In [16]:
# Change index
obj.index = ['Rob', 'Ryan', 'George', 'Nick']
obj

Rob       4
Ryan      7
George   -5
Nick      3
dtype: int64

### DataFrame